#jeu {
	width : 250px;
	height: 250px;
	background-color: #2A2A2A;
	border: 1px solid #555;
	margin: 50px auto;
	box-shadow: 3px 8px 3px #BBB;
	padding: 10px;
}

#jeu div {
	width: 190px;
	margin: auto;
}

#jeu button {
	width: 50px;
	height: 50px;
	margin: 5px;
	float: left;
	font-weight: bold;
}

#Status {
	color: white;
	padding: 15px 10px;
}